body {
  background: #FF7A00;
  color: white;
}

.quote {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  margin: 3em;
}

/* We tell all items to be 100% width */
.triangle-isosceles, .cookieContainer, footer {
  flex: 1 100%;
  }

.triangle-isosceles {
  flex-direction: column;
  position:relative;
  padding: 2em 0;
  margin:0;
  color:#000;
  background:#fff; 
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

.triangle-isosceles:after {
  border-color: #fff transparent;
  border-style: solid;
  border-width: 15px 15px 0;
  bottom: -15px;
  content: "";
  display: block;
  right: 100px;
  position: absolute;
  width: 0;
}

h1 {
  font-family: 'Amatic SC', courier;
  font-size: 3em;
  color: gold;
  margin: 0;
}

blockquote {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0;
  letter-spacing: .1rem;
}

button {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  font-size: 11px;
  font-weight: 600;
  height: 38px;
  letter-spacing: .1rem;
  line-height: 38px;
  margin-top: 1rem;
  padding: 0 30px;
  text-transform: uppercase;
}

button:hover{
  color: #333;
  border-color: #888;
  outline: 0;
}

#cookie {
  padding: 0 2em;
  max-width: 400px;
  height: auto;
}

footer p{
  margin-top: 2rem;
}

a {
  text-decoration: none;
  color: white;
  letter-spacing: .1rem;
  font-size: 0.7rem;
}

a:hover {
   text-decoration: underline;
}

@media all and (min-width: 600px) {
    /* We tell cookie and isosceles triangle to share a row */
  .cookieContainer {
    flex: 1 auto;
  }
  .triangle-isosceles{
    flex: 1 auto;
  }
}

